@import "compass/css3";

body {
  font-size: 100%;
  font-family: Montserrat, "Open Sans", Helvetica, Arial, sans-serif;
}

p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  font-weight: lighter;
  color: #2d2d2d;
}

/* TODO: size images manually so this is not necessary */
img {
  max-height: 10rem;
}

/***************** NAV *****************/

nav a:hover {
  text-decoration: underline;
}

.navigation {
  list-style: none;
  margin: 0;
  background: #3D7FCF;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  justify-content: flex-end;
  font-size: 1.1rem;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em;
  color: white;
}

#total-inCart {
  font-size: 0.7rem;
  background: green;
  padding:0.2rem;
  border-radius: 50%;
}

/**************** HERO *****************/

header img {
  max-height: 6rem;
}

h1 .logo-w {
  font-size: 3rem;
  color: #3D7FCF;
}

.logo-img {
  float: left;
}
.logo-text {
  color: #3D7FCF;
}

/**************** ASIDE ****************/

input[type="submit"] {
  padding: .25rem;
  background-color: #3D7FCF;
  border: 1px solid #3D7FCF;
  border-radius: 5px;
  font-size: .75rem;
  color: white;
}

/*********** PRODUCTS SECTION ***********/

section {
  padding: 0 .75rem;
}

h2 {
  font-size: 1.5rem;
  text-align: center;
  color: #2d2d2d;
}

h3 {
  font-size: 1.2rem;
  text-align: center;
  color: #2d2d2d;
}

.item-container {
  margin: 0 auto;
  width: 95%;
  display: flex 1 ;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  justify-content: space-around;
  align-items: flex-start;
}

.item {
  border: solid 1px lightgrey;
}

.item h3 {
  background: #5ab9cd;
  color: white;
  font-size: 1rem;
  padding: 0.2rem 0.5rem 0.2rem;
}

.item p {
  padding: 0 0.7rem;
}

.item img {
  max-width: 100%;
}

.mailing {
  padding: 1.5rem 0 0 1.5rem;
}

.product-img {
  width: 50%;
  align-items: center;
  align-self: center;
  align-content: center;
  margin: auto;
}

.add-to-bag {
  background-color: #eee;
  padding-left: 2rem;
  font-style: italic;
  font-size: 0.9rem;
  margin: auto;
}


/*.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}*/

/*.col-sm-4 {
  border:1px solid lightgrey;
  display: flex;
  flex-direction:column;
  padding: 1rem;
}*/

/**************** FOOTER *****************/
.footer {
  padding: 0.5rem;
  background: #3D7FCF;
  margin: auto;
}

.footer p {
  color: white;
}

@media all and (max-width: 1200px) {
  .navigation {
    justify-content: space-around;
  }
}

@media all and (max-width: 560px) {
  .navigation {
    -webkit-flex-flow: column wrap;
    flex-flow: column wrap;
    padding: 0;
  }
  .navigation a {
    text-align: center;
    padding: 10px;
    border-top: 1px solid rgba(255,255,255,0.3);
    border-bottom: 1px solid rgba(0,0,0,0.1);
  }
  .navigation li:last-of-type a {
    border-bottom: none;
  }
}
